util/src/cmd/assist/lib/forms/uucp.fs  linguist-vendored
util/src/cmd/assist/lib/forms/uucpl.fs linguist-vendored
util/src/cmd/assist/lib/forms/uucpl.fs linguist-vendored
util/src/cmd/assist/lib/forms/uucpr.fs linguist-vendored
